.root
{
	-fx-background-color: #090E11;
}

.radio-button
{
	-fx-text-fill: #ffffff;
	-fx-font-family: 'Candara';
	-fx-font-size: 14px;
}

.radio-button .radio
{
	-fx-background-color: #090E11;
	-fx-border-color: #84ff00;
	-fx-border-radius: 360;
	-fx-dot-color: #84ff00;
}

.radio-button:focused .radio
{
	-fx-border-color: yellow;
}

.radio-button .dot
{
	-fx-mark-highlight-color: #84ff00;
 	-fx-mark-color: #84ff00;
}

.scroll-pane > .viewport {
   -fx-background-color: #090E11;
   -fx-border-width: 0px;
}

.scroll-pane
{
	-fx-border-color: #84ff00;
}

.flow-pane
{
	-fx-border-color: #84ff00;
}

.root .scroll-bar .thumb
{
    -fx-background-color: #090E11;
    -fx-border-color: #84ff00;
}

.root .scroll-bar .increment-button,
.root .scroll-bar .decrement-button{
	-fx-background-color: #090E11;
}

.root .scroll-bar .increment-arrow,
.root .scroll-bar .decrement-arrow {
    -fx-background-color: #84ff00;
}

.root .scroll-bar
{
	-fx-background-color: #090E11;
}


.list-view {
    -fx-background-color: #000000;
    -fx-font-weight: Normal;
	-fx-font-size: 15px;
	-fx-font-family: 'Cardano';
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:even{
	-fx-background-color: rgb(22, 34, 41);
    -fx-text-fill: white;
}

.list-view .list-cell:selected {
    -fx-background-color: #84ff00;
    -fx-text-fill:#000000;
}

.list-view .list-cell {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}

.combo-box
{
	-fx-cursor: Hand;
	-fx-background-radius: 15;
 	-fx-border-radius: 10;
	-fx-background-color: #090E11;
	-fx-border-color: #84ff00;
	-fx-font-weight: Normal;
	-fx-font-size: 14px;
	-fx-font-family: 'Cardano';
}

.combo-box .arrow
{
	-fx-background-color: #84ff00;
}

.combo-box .cell{
    -fx-text-fill: #ffffff;
    -fx-background-color: #090E11;  
    -fx-background-radius: 15;
 	-fx-border-radius: 10; 
}

.combo-box-popup .list-view
{
	-fx-cursor: Hand;
}

.combo-box-popup .cell
 {
 	-fx-background-radius: 0;
 	-fx-border-radius: 0;
	-fx-text-fill: #ffffff;
    -fx-background-color: #090E11;  
 }
 
 .combo-box-popup .cell:even
 {
 	-fx-background-radius: 0;
 	-fx-border-radius: 0;
	-fx-text-fill: #ffffff;
    -fx-background-color: #090E11;  
 }
 

.combo-box-popup .cell:hover
 {
 	-fx-background-radius: 0;
 	-fx-border-radius: 0;
	-fx-background-color: #090E11;
	-fx-text-fill: #ffffff;
	-fx-border-color: #84ff00;
 }
 
 .combo-box-popup .cell:selected
 {
 	-fx-background-radius: 0;
 	-fx-border-radius: 0;
	-fx-background-color: #84ff00;
	-fx-text-fill: #090E11;
 }

.combo-box .scroll-bar .thumb
{
    -fx-background-color: #090E11;
    -fx-border-color: #84ff00;
}

.combo-box .scroll-bar .increment-button,
.combo-box .scroll-bar .decrement-button{
	-fx-background-color: #090E11;
}

.combo-box .scroll-bar .increment-arrow,
.combo-box .scroll-bar .decrement-arrow {
    -fx-background-color: #84ff00;
}

.combo-box .scroll-bar
{
	-fx-background-color: #090E11;
}

.tab-pane .tab-header-background 
{
    -fx-background-color: #090E11;
}


.labelVerde
{
	-fx-text-fill: #84ff00;
	-fx-alignment: center;
}

.tab-pane .tab
{
	-fx-border-width: 2px;
	-fx-cursor: Hand;
	-fx-background-color: #080f00;
	-fx-border-color: #080f00;
	-fx-focus-color: #84ff00;
} 

.tab-pane .tab:hover
{
	-fx-cursor: Hand;
	-fx-background-color: #080f00;
	-fx-border-color: #84ff00;
}


.tab-pane .tab-label
{
	-fx-font-weight: Bold;
	-fx-font-size: 16px;
	-fx-font-family: 'Candara';
	-fx-text-fill: #84ff00;
	-fx-alignment: center;
}

.button
{
	-fx-background-color: #080f00;
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-border-color: #84ff00;
	-fx-text-fill: #84ff00;
}

.button:focused
{
	-fx-border-color: yellow;
	-fx-text-fill: yellow;
}

.separatorHorizontal .line
{
	-fx-border-style: solid;
	-fx-border-color: #84ff00;
	-fx-border-width: 1px;
}

.separatorVertical .line
{
	-fx-border-style: solid;
	-fx-border-color: #575757;
	-fx-border-width: 1px;
}

.button:hover
{
	-fx-background-color: #84ff00;
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-border-color: #080f00;
	-fx-text-fill: #080f00;
	-fx-cursor: Hand;
}

.text-area
{
	-fx-background-color: #090E11;
	-fx-font-weight: Normal;
	-fx-font-size: 14px;
	-fx-font-family: 'Cardano';
	-fx-border-width: 1px;
	-fx-border-color: #84ff00;
	-fx-text-fill: #ffffff;
}

.text-area .scroll-bar .thumb
{
    -fx-background-color: #090E11;
    -fx-border-color: #84ff00;
}

.text-area .scroll-bar .increment-button,
.text-area .scroll-bar .decrement-button{
	-fx-background-color: #090E11;
}

.text-area .scroll-bar .increment-arrow,
.text-area .scroll-bar .decrement-arrow {
    -fx-background-color: #84ff00;
}

.text-area .scroll-bar
{
	-fx-background-color: #090E11;
}

.text-area .content
{
	-fx-background-color: #090E11;
	-fx-font-weight: Normal;
	-fx-font-size: 14px;
	-fx-font-family: 'Cardano';
	-fx-text-fill: #ffffff;
	-fx-border-width: 1px;
}


.text-field
{
	-fx-font-weight: Normal;
	-fx-font-size: 14px;
	-fx-font-family: 'Cardano';
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-border-width: 2px;
	-fx-border-color: #84ff00;
	-fx-text-fill: #000000;
}

.text-field2
{
	-fx-prompt-text-fill: #121f15;
	-fx-background-color: #090E11;
	-fx-text-fill: #ffffff;
	-fx-font-weight: Normal;
	-fx-font-size: 14px;
	-fx-font-family: 'Cardano';
	-fx-background-radius: 15;
	-fx-border-radius: 10;
	-fx-border-width: 2px;
	-fx-border-color: #84ff00;
}

.labelComLink:hover
{
	-fx-text-fill: #84ff00;
	-fx-cursor: Hand;
}

/**TABLE VIEW**/
/*Tabel inteira */
.table-view{
   -fx-background-color: #090E11; /*Muda a cor de fundo da tabela */
   -fx-border-color: #84ff00; /*Muda a cor da borda da tabela */
   -fx-border-width: 2px; /*Muda a espessura da borda da tabela */   
}

.table-view .label
{
	-fx-text-fill: #090E11; 
}

/*Para linhas sem conteúdo*/
.table-row-cell:empty{
	-fx-background-color: #090E11; /*Muda a cor de fundo*/
}

 
.table-row-cell:empty .table-cell{
	-fx-border-width: 0px; /*Muda a espessura da borda de linhas vazias*/
}


.table-row-cell:filled .table-cell{
	-fx-border-color: #000000; /*Muda a cor da borda lateral de linhas preenchidas*/
}


.table-view .column-header-background{
    -fx-background-color: transparent; /*Muda a cor de fundo das colunas do cabeçalho*/
    -fx-border-color: #080f00; /*Muda a cor da borda das colunas do cabeçalho*/
}

 
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #080f00;
}

.table-view .filler
{
	-fx-background-color: #090E11;
}

.table-view .column-header {
    -fx-background-color: #84ff00;/*Muda o preenchimento da coluna do cabeçalho*/
    -fx-border-color: #080f00;/*Muda a cor da borda do preenchimento da coluna do cabeçalho*/
}

/*Linhas preenchidas ímpares*/
.table-row-cell:odd:filled{
    -fx-background-color: #162229;
    -fx-border-width: 0.5px;
}


/*Linhas preenchidas pares*/
.table-row-cell:filled{
    -fx-background-color: #090E11; 
    -fx-border-width: 0.5px;
}

.table-view .table-cell:filled{
    -fx-text-fill: #ffffff;/*Muda a cor do texto para linhas selecionadas*/
}

.table-view .table-cell:selected:filled {
    -fx-text-fill: #080f00;/*Muda a cor do texto para linhas selecionadas*/
}

/*Linhas preenchidas e selecionadas*/
.table-row-cell:selected:filled {
    -fx-background-color: #84ff00;
    -fx-text-fill: #080f00;
    -fx-border-width: 1px;
}

/*Linhas preenchidas e selecionadas*/
.table-row-cell:selected:filled .table-cell{
    -fx-text-fill: #080f00;
}

.table-view .scroll-bar .thumb
{
    -fx-background-color: #090E11;
    -fx-border-color: #84ff00;
}

.table-view .scroll-bar .increment-button,
.table-view .scroll-bar .decrement-button{
	-fx-background-color: #090E11;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-background-color: #84ff00;
}

.table-view .scroll-bar
{
	-fx-background-color: #090E11;
}

.text-areaComment
{
	-fx-background-color: #090E11;
	-fx-border-color: #090E11;
	-fx-border-width: 0px;
}

.text-areaComment .scroll-pane
{
	-fx-border-color: #090E11;
}

.text-areaComment .content
{
	-fx-border-color: #090E11;
	-fx-background-color: #090E11;
	-fx-border-width: 0px;
}